<h3>Assets</h3>
<div class="card">

<%= render partial: 'admin/operations/shared/table', locals: { objects: @assets} %>
</div>

<div class="float-right">
  <%= paginate @assets, params: { route: :admin_asset_operations } %>
</div>
