<h3>Liability</h3>
<div class="card">

<%= render partial: 'admin/operations/shared/table', locals: { objects: @liabilities} %>
</div>

<div class="float-right">
  <%= paginate @liabilities, params: { route: :admin_liability_operations } %>
</div>
